*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "ui-monospace";
}
header {
    justify-content: space-between;
    display: flex;
    background: #FF3131;

    a {
        margin: 50px;
    }

    img {
        width: 80px;
        border-radius: 45%;
        border: 5px solid white;

    }
}